@font-face {
  font-family: 'Jolly-Lodger';
  src: url(../../assets/fonts/JollyLodger-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.grimoire-dnd-root {
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem); /* Adjust based on the height of the navbar */
  border: 2px solid #444;
  background-color: #000; /* Make the background black */
}

.tooltip{
  font-family: "Jolly-Lodger" !important;
  background-color: #8e4ccc !important;
  font-size: 2.5rem !important;
  text-shadow: #000 0px 0px 10px !important;
  border-radius: 10px !important;
  box-shadow: #000 0px 0px 10px !important;
}