.side-nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    background-color: #8e4ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    right: 0;
}
  
.nav-name{
    display: flex;
}