.side-nav {
    top: 0;
    background-color: #8e4ccc;
    position: fixed;
    left: 0;
    width: 100%;
    flex-direction: row;
    height: 8.5rem;
}

.nav-items {
    display: flex;
    right: 0;
}
  
.nav-name{
    display: flex;
}

img {
    width: 100px;
    height: 100px;
}

.nav-item {
    list-style: none;
}
