@font-face {
  font-family: 'PlayFair';
  src: url(../../assets/fonts/PlayFair) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.role-token-container {
  height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
}

.role-token {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.role-token div {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.role-token-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.token svg circle {
  background-color: red;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.token svg span:hover {
  box-shadow: 0 0 10px 5px orange;
}

/* Style the range slider track */
.custom-range {
  -webkit-appearance: none;
  width: 60rem;
  height: 1px;
  background: #ddd;
  border-radius: 50%;
  outline: none;
  transition: opacity 0.2s;
}

.custom-range::-webkit-slider-thumb:hover,
.custom-range::-webkit-slider-thumb:focus {
  opacity: 1;
  transform: scale(1.75);
  /* Scale up the slider on hover/focus */
}

/* Style the range slider thumb for WebKit browsers */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: #8e4ccc;
  /* Change this to your desired color */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  border: 4px solid #efe3ff;
}

.custom-range::-webkit-slider-thumb:hover {
  background-color: #420075;
  /* Change this to your desired hover color */
}

/* Style the range slider track for WebKit browsers */
.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 40px;
  background: #cdb5da;
  border-radius: 50px;
}

/* Style the range slider thumb for Mozilla browsers */
.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #7a7a7a;
  /* Change this to your desired color */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-range::-moz-range-thumb:hover {
  background-color: #6e6e6e;
  /* Change this to your desired hover color */
}

/* Style the range slider track for Mozilla browsers */
.custom-range::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

.number {
  font-size: 7rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.description {
  font-family: "PlayFair";
  font-size: 1.5rem;
  padding-bottom: 2rem;
  color:#efe3ff;
}

.spacer {
  padding: 80px;
}

.token.disabled {
  opacity: 0.5;
  pointer-events: none; /* Prevent clicking */
}